* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
}

a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}

header {
    display: flex;
    justify-content: center;
}
        nav ul {
            display: flex;
            justify-content: center;
            
            list-style-type: none;
            padding: 1.9em 1em;
        }
        nav li {
            padding: 0 2em;
            font-size: 1.2em;
        }

article{
    display: grid;
    grid-template-columns: 35% 65%;

    margin-top: 1rem;
}
.indice{
    margin-left: 60%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(241, 232, 215);
}
    .indice img{
        width: 60%;
        height: auto;
        padding-top: 2em;
    }
    .indice ul {
        list-style-type: none;
        padding: 1.9em 1em;
    }
    .indice li{
        padding: 1em;
    }


.contenido{
    margin-left: 10%;
}
    .contenido h2{
        font-weight: 600;
        font-size: 1.5em;
        color: #272727;
        padding: 1em 0 0.5em;
    }
    
    .contenido p{
        font-size: 5em;
    }




footer{
    position: fixed;
    bottom: 1em;
    left: 48%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
    footer p{
        font-size: 0.8em;
    }
    footer img{
        opacity: 0.7;
    }